.drumkit-container {
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  
  .back-button {
    background-color: #4d79ff;
    color: white;
    padding: 12px 25px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .back-button:hover {
    background-color: #3355cc;
  }
  